<h2 class="center space-above">All Products</h2>

<% if @products.any? %>
<div class="all-products space-above">
  <% @products.each do |product| %>
    <div class="product">

    <h2><%= link_to product.name, product_path(product) %></h2>
    <p><strong>Country of origin:</strong> <%= product.country_origin %></p>
      <p><strong>Price:</strong> <%= number_to_currency product.cost %></p>
      <p><strong>Total reviews:</strong> <%= product.reviews.length %></p>
      <p><%= link_to "View Product", product_path(product) %></p>

    </div>
  <% end %>
</div>
<% else %>
<p>There are no products to display</p>

<% end %>
