<h1>All Products</h1>

<% if @products.any? %>
<div class="all-products">
  <% @products.each do |product| %>
    <h2><%= product.name %></h2>
    <p><strong>Country of origin:</strong> <%= product.country_origin %></p>
    <p><strong>Price:</strong> <%= number_to_currency product.cost %></p>
    <p><strong>Total reviews:</strong> <%= product.reviews.length %></p>
    <p><%= link_to "View Product", product_path(product) %></p>

  <% end %>
</div>
<% else %>
<p>There are no products to display</p>

<% end %>
