<div class="product">

<h2> <%= @product.name %></h2>
<p><strong>Country of origin:</strong> <%= @product.country_origin %></p>
  <p><strong>Price:</strong> <%= number_to_currency @product.cost %></p>
  <p><strong>Total reviews:</strong> <%= @product.reviews.length %></p>

  <p><%= link_to "Add a review", new_product_review_path(@product) %> |
  <%= link_to "Edit product", edit_product_path(@product) %> |
  <%= link_to "Delete product", product_path(@product), :method => "delete" %></p>
  <br>

  <h3>Product Reviews</h3>
  <% if @product.reviews.any? %>

    <% @product.reviews.each do |review| %>
      <div class="review">
        <p><strong>Author:</strong> <%= review.author %></p>
        <p><strong>Review:</strong> <%= review.content_body %></p>
        <p><strong>Rating:</strong> <%= review.rating %>/5 Stars</p>
      </div>
      <% end %>
  <% else %>

    <p>There are no reviews for this product.</p>

  <% end %>



</div>
