<h2>Product Details</h2>

<div class="product">

<h2> <%= @product.name %></h2>
<p><strong>Country of origin:</strong> <%= @product.country_origin %></p>
  <p><strong>Price:</strong> <%= number_to_currency @product.cost %></p>
  <p><strong>Total reviews:</strong> <%= @product.reviews.length %></p>
  <p><%= link_to "Review", edit_product_path(@product) %> |<%= link_to "Edit", edit_product_path(@product) %> |   <p><%= link_to "Delete", delete_product_path(@product) %></p>
</p>

</div>
