<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Specialty Foods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="top">
        <h1>Mario's Specialty Foods</h1>

        <a href="/"><button class="menu btn btn-primary">Home</button></a>

        <a href="/products"><button class="menu btn btn-primary">All products</button></a>

        <a href="/products/new"><button class="menu btn btn-primary">Add product</button></a>

      </div>
    <%= yield %>
  </div>
  </body>
</html>
